[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marker-pdf = "*"
openai = "*"
markdown-it-py = {extras = ["plugins"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
